/* 555 STUDIO — self-hosted type (Google Fonts, latin subset).
   Anton, Archivo Black, Bebas Neue, Bungee, Chakra Petch, Inter, Oswald,
   Permanent Marker, Pirata One, Rubik Mono One, Space Mono, Syne, Teko,
   UnifrakturCook — all SIL Open Font License 1.1 (see assets/fonts/OFL.txt). */

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/anton-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/archivo-black-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/bebas-neue-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/bungee-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/chakra-petch-700.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/inter.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/oswald-600.woff2) format('woff2');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/permanent-marker-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/pirata-one-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/rubik-mono-one-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/space-mono-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/space-mono-700.woff2) format('woff2');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../assets/fonts/syne-800.woff2) format('woff2');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/teko-700.woff2) format('woff2');
}
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/unifrakturcook-700.woff2) format('woff2');
}
